/* Reset same default styles */
* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Navigation Menu */
.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #ff6347;
}

/* Sections */

section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

#home {
    text-align: center;
    background-color: #fff;
}

#gallery {
    background-color: #e2e2e2;
}

#contact {
    background-color: #fff;
}

/* Image Gallery */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery-item {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
    border-color: #ff6347;
}