$primary-color: #3498db;
$text-color: #2c3e50;
$bg-color: #345ecc;

header {
    background-color: $primary-color;
    color: $text-color;
    text-align: center;
    padding: 20px;
}

nav {
    ul {
        list-style: none;
        padding: 0;
        display: flex;

        li {
            margin-right: 20px;

            a {
                text-decoration: none;
                color: #3498db;

                &:hover {
                    color: #e74c3c;
                }
            }
        }
    }
}

@mixin button-style ($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    &:hover {
        opacity: 0.8;
    }
}

button.primary {
    @include button-style(#3498db, white);
}

button.secondary {
    @include button-style(#2ecc71, white);
}