<!-- app.component.html -->

<!-- Exercise 1: Two-Way Data Binding -->
 <!-- <input type="text" [(ngModel)]="userInput" placeholder="Type something...">
 <p>You typed: {{ userInput }}</p> -->

<!-- Exercise 2: Display a List -->
<!-- <ul>
    <li *ngFor="let item of items">{{ item }}</li>
</ul> -->

<!-- Exercise 3: Conditional Rendering -->
<!-- <button (click)="isLoggedIn = !isLoggedIn">Toggle Login</button>
<p *ngIf="isLoggedIn">Welcome, User!</p>
<p *ngIf="!isLoggedIn">Please log in.</p> -->

<!-- Exercise 4: Event Binding -->
 <!-- <button (click)="increment()">Click me</button>
 <p>Button clicked {{ counter }} times</p> -->


<!-- Exercise 7: Reactive Forms -->
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <label>
        Name:
        <input formControlName="name">
    </label>
    <label>
        Email:
        <input formControlName="email">
    </label>
    <button type="submit">Submit</button>
</form>


 <app-parent></app-parent>

 <app-first></app-first>
 <app-second></app-second>